<!-- app/views/players/new.html.erb -->
<h1>Create New Player</h1>

<%= form_with(model: @player, local: true) do |form| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= label_tag :user_email, "User Email (optional)" %>
    <%= text_field_tag :user_email %>
  </div>

  <div class="actions">
    <%= form.submit "Create Player" %>
  </div>
<% end %>
